<div class="m-4 form-field">
    <form [formGroup]="userForm">
        <div class="row">
            <h1 style="color: #a02e2e;">Welcome</h1>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Email Id</mat-label>
                    <input matInput formControlName="emailId" [(ngModel)]="user.emailId">
                </mat-form-field>
                <span *ngIf="userForm.get('emailId')?.invalid && userForm.get('emailId')?.touched" class="text-danger">
                    Please Enter Email Id
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" [(ngModel)]="user.password">
                </mat-form-field>
                <span *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
                    class="text-danger">
                    Please Enter Password
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color=primary class="w-100" (click)="checkLogin()">
                            <mat-icon>person</mat-icon>Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>